<html>
    <head>
        <link href="./public/stylesheets/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <canvas id="canvas" width="800" height="600"></canvas>
        <script src="./public/javascripts/src/artist.js"></script>
        <script src="./public/javascripts/src/distance.js"></script>
        <script src="./public/javascripts/src/shopper.js"></script>
        <script src="./public/javascripts/src/world.js"></script>
        <script src="./public/javascripts/src/index.js"></script>
    </body>
</html>
